*-bak
.luarc.json
.vscode
\!BugGrabber
AddonFactory
Altoholic
Altoholic_Achievements
Altoholic_Agenda
Altoholic_Characters
Altoholic_Grids
Altoholic_Guild
Altoholic_Options
Altoholic_Search
Altoholic_Summary
Alts
Auctionator
Baganator
Bartender4
BugSack
DataStore
DataStore_Achievements
DataStore_Agenda
DataStore_Auctions
DataStore_Characters
DataStore_Containers
DataStore_Crafts
DataStore_Currencies
DataStore_Garrisons
DataStore_Inventory
DataStore_Mails
DataStore_Pets
DataStore_Quests
DataStore_Reputations
DataStore_Spells
DataStore_Stats
DataStore_Talents
DialogueUI
GTFO
HealthBarColor
IncognitoResurrected
MapCoords
Mapster
Masque
Narcissus
Narcissus_Achievements
Narcissus_BagFilter
Narcissus_Barbershop
Narcissus_Database_Item
Narcissus_Database_NPC
Narcissus_GamePad
Peddler
Plumber
Prat-3.0
Quartz
SimpleItemLevel
Syndicator
TalentLoadoutManager
TidyPlates
TidyPlates_Graphite
TidyPlates_Grey
TidyPlates_Neon
TidyPlates_Quatre
TidyPlatesHub
TidyPlatesWidgets
WeakAuras
WeakAurasArchive
WeakAurasModelPaths
WeakAurasOptions
WeakAurasTemplates