*-bak
.luarc.json
.vscode
\!BugGrabber
AddonFactory
Altoholic
Altoholic_*
Alts
Auctionator
Baganator
Bartender4
BugSack
DataStore
DataStore_*
DialogueUI
FrameColor
GTFO
HealthBarColor
IncognitoResurrected
MapCoords
Mapster
Masque
Masque*
Narcissus
Narcissus_*
Peddler
Plumber
Prat-3.0
Quartz
SexyMap
SimpleItemLevel
Syndicator
TalentLoadoutManager
TidyPlates
TidyPlates_Graphite
TidyPlates_Grey
TidyPlates_Neon
TidyPlates_Quatre
TidyPlatesHub
TidyPlatesWidgets
/TomTom
/WayPointsNative
WeakAuras
WeakAurasArchive
WeakAurasModelPaths
WeakAurasOptions
WeakAurasTemplates
*.code-workspace
/BetterFishing
/HandyNotes
/HandyNotes_*
/NameplateSCT
.DS_Store
/DBM-Affixes
/DBM-Brawlers
/DBM-Core
/DBM-GUI
/DBM-KhazAlgar
/DBM-Raids-WarWithin
/DBM-StatusBarTimers
/DBM-Test-WarWithin
/DBM-Test
/DBM-VPVEM
/WeeklyKnowledge
